body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
.main-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    display: inline-block;
    margin-right: 76px;
}
.header-nav{
    display: flex;
    align-items: center;
}
.logo-accent{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.header-menu-nav{
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.link-logo{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}
.link-logo:hover{
    color: #404bbf;
}
.link-logo:focus{
    color:#404bbf;
}

.first-section-button{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}
.hero-section{
    /* max-width: 1440px;  */
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-img.jpg), url(../images/Dark-bg.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.first-section-h{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}
.first-section-button:hover{
    background-color: #404BBF;
}
.first-section-button:focus{
    background-color: #404BBF;
}
.adress{
    font-style: normal;
    margin-left: auto;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-contact-menu{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    gap: 40px;
}
.header-contact-link{
    color: #434455;
}
.header-contact-link:hover{
    color: #404bbf;
}
.header-contact-link:focus{
    color: #404bbf;
}
.second-section{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding-top: 120px;
    padding-bottom: 120px;
}
.second-section-p{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
.second-section-h{
    font-weight: 1128px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}
.third-section-list{
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}
.third-section{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}
.third-section-bg{
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.third-section-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}
.third-section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.third-section-li{
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-container{
    display: flex;
    align-items: center;
}
.images{
    display: block;
}
.header-menu-item{
    gap: 40px;
    display: flex;
}

.header-menu-nav{
    display: flex;
    gap: 40px;
}
.box-service{
}
.menu-nav-li{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
        display: block;
        padding: 24px 0;
}
.team-employee{
    padding: 32px 0;
    text-align: center;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
}
.portfolio-description{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.features-list{
    display: flex;
    gap: 24px;
}
.features-item{
    flex-basis: calc((100% - 72px) / 4);
}
.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-h{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}




.main-logo-footer{
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}
.footer-info-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    font-size: 16px;
    max-width: 264px;
}
.footer-logo-accent {
    color: #f4f4fd;
}
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}